<style>
/* Força o alinhamento à esquerda e customiza o espaçamento */
.bio-social-icons {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    margin-bottom: 20px;
}
.bio-social-icons .social-icons {
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    flex-wrap: wrap;
}
.bio-social-icons .social-icons a {
    margin: 0 15px 0 0 !important; /* Espaçamento entre os ícones */
    box-shadow: none !important;
    text-decoration: none !important;
    border: none !important;
}
</style>

<div class="bio-social-icons">
    <div class="social-icons">
        {{- range site.Params.socialIcons }}
            {{- if ne .name "email" }}
            <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me" title="{{ (.title | default .name) | title }}">
                {{ partial "svg.html" . }}
            </a>
            {{- end }}
        {{- end }}
    </div>
</div>
